*.dll
*.pdb
/packages
/samples/ApiHost/obj
/samples/ApiHost/bin
/samples/ConsoleApp/obj
/samples/ConsoleApp/bin
/samples/ConsoleApp/obj
/samples/ConsoleApp/bin
/src/01_Unity/BF.Unity/obj
/src/01_Unity/BF.Unity/bin
/src/02_Cache/BF.Core.Cache/obj
/src/02_Cache/BF.Core.Cache/bin
/src/02_Cache/BF.Core.Cache/obj
/src/03_Log/BF.Core.Log/bin
/src/03_Log/BF.Core.Log/obj
/src/03_Log/BF.Core.Log/obj
/src/04_Config/BF.Core.Config/obj
/src/04_Config/BF.Core.Config/bin
/src/05_Validator/FluentValidation/obj
/src/05_Validator/FluentValidation/bin
/src/06_Calculator/Evaluant.Calculator/obj
/src/06_Calculator/Evaluant.Calculator/bin
/src/05_Validator/FluentValidation/obj
/src/05_Validator/FluentValidation/obj


/tests/Test.Extension/bin
/tests/Test.Extension/obj

/tests/Test.Calculator/bin
/tests/Test.Calculator/obj

/tests/Test.FluentValidation/bin
/tests/Test.FluentValidation/obj

/src/07_DB/Expression2Sql/obj

