*.dll
*.pdb
/packages
/samples/ApiHost/obj
/samples/ApiHost/bin
/samples/ConsoleApp/obj
/samples/ConsoleApp/bin
/samples/ConsoleApp/obj
/samples/ConsoleApp/bin
/src/01_Unity/BF.Unity.Common/obj
/src/01_Unity/BF.Unity.Common/bin
/src/01_Unity/BF.Unity.Extension/obj
/src/01_Unity/BF.Unity.Extension/bin
/src/01_Unity/BF.Unity.Helper/obj
/src/01_Unity/BF.Unity.Helper/bin
/src/02_Cache/BF.Cache.Core/obj
/src/02_Cache/BF.Cache.Core/bin
/src/03_Log/BF.Log.Core/bin
/src/03_Log/BF.Log.Core/obj
/src/04_Config/BF.Config.Core/obj
/src/04_Config/BF.Config.Core/bin
/src/05_Validator/FluentValidation/obj
/src/05_Validator/FluentValidation/bin
/src/06_Calculator/Evaluant.Calculator/obj
/src/06_Calculator/Evaluant.Calculator/bin
/src/07_DB/BF.DB.Core/obj
/src/07_DB/BF.DB.Core/bin
/src/07_DB/Dapper/Dapper.Extension/obj
/src/07_DB/Dapper/Dapper.Extension/bin
/src/07_DB/Dapper/Dapper.Library/obj
/src/07_DB/Dapper/Dapper.Library/bin
/tests/Test.Extension/bin
/tests/Test.Extension/obj
/tests/Test.Dapper/bin
/tests/Test.Dapper/obj
/tests/Test.Calculator/bin
/tests/Test.Calculator/obj
/tests/Test.FluentValidation/bin
/tests/Test.FluentValidation/obj
